<form (submit)="onPostSubmit()" >
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="title" name="title">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="des" name="des">
    </div>
    <div class="form-group">
        <select name="category" id="" [(ngModel)]="category">
            <option value="news">news</option>
            <option value="android">android</option>
            <option value="linux">linux</option>
        </select>
    </div>
    <input type="submit" value="envoyer">
</form>